.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration {
    max-width: 100%;
    padding: 1rem;
}

.form-registration .form-floating:focus-within {
    z-index: 2;
}

.form-registration .form-floating input {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-registration .form-floating:first-of-type input {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.form-registration .form-floating:last-of-type input {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    margin-bottom: 10px;
}
